@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(32, 83, 223, 0.589), rgba(32, 83, 223, 0.56)),
    url("masaajid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 380px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 6px 15px rgb(0, 0, 0, 0.15);
  padding: 25px 30px;
  position: relative;
  overflow: hidden;
}
.container i {
  cursor: pointer;
}
.top-bar,
.timer,
.controls,
.music-list .header,
.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  font-size: 30px;
  color: #000;
}
.top-bar span {
  color: #000;
  font-size: 18px;
}
.img-area {
  width: 100%;
  height: 256px;
  box-shadow: 0px 6px 15px rgb(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 25px;
}
.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details {
  text-align: center;
  margin: 10px 0;
  margin: 30px 0;
  color: #000;
}
.song-details .name {
  font-size: 21px;
}
.song-details .title {
  font-size: 18px;
  opacity: 0.9;
}
.progress-area {
  width: 100%;
  height: 6px;
  background-color: #dddddd;
  border-radius: 50px;
  cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  border-radius: inherit;
  background-color: #2d419a;
  position: relative;
}
.progress-bar::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: inherit;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  background: inherit;
  opacity: 0;
  transform: opacity 0.2 ease;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
}
.timer {
  margin-top: 2px;
}
.timer span {
  font-size: 13px;
  color: #000;
}
.controls {
  margin: 40px 0 5px 0;
}
.controls i {
  font-size: 20px;
  user-select: none;
  background-color: #2d419a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 23px;
}
.controls #backward {
  margin-right: -13px;
}
.controls #next {
  margin-left: -13px;
}
.controls .play-puse {
  width: 54px;
  height: 54px;
  background-color: #dfdbdb;
  box-shadow: 0px 0px 5px var(#465288);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-puse {
  width: 43px;
  height: 43px;
  border-radius: inherit;
  background-color: #2d419a;
}
.music-list {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgb(0, 0, 0, 0.1);
  width: 100%;
  padding: 15px 30px;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.14 ease-out;
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: #000;
}
.header .row i {
  cursor: default;
}
.header #close {
  font-size: 22px;
  color: #000;
}
.header .row span {
  margin-left: 5px;
}
.music-list ul {
  margin: 10px 0;
  max-height: 280px;
  overflow-y: auto;
}

.music-list ul li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #000;
}
.music-list ul li:last-child {
  border-bottom: 0px;
}
.music-list ul li .row span {
  font-size: 17px;
}
ul li .row p {
  opacity: 0.9;
}
ul li .audio-duration {
  font-size: 16px;
}
.none {
  display: none;
}
